
AzureFunctionsEcommerce/.DS_Store
.vs/AzureFunctionsEcommerce/xs/project-cache/AzureFunctionsEcommerce-Debug.json
.vs/AzureFunctionsEcommerce/xs/UserPrefs.xml
AzureFunctionsEcommerce/bin/.DS_Store
AzureFunctionsEcommerce/Data/.DS_Store
.DS_Store
